body{
    background: linear-gradient(to right, #5614b0, #dbd65c);
}
.h1{
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
.div1{
    width: 600px;
    height: 600px;
    border-radius: 30px;
    background-color: white;
    margin-left: 450px;
    
}
.h2{
    margin-top: 50px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ft1{
    width: 450px;
    height: 400px;
}
.h{
    margin-top: 0px;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bt{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color: black;
    transition: 0.5s;
}
.bth{
    color: white;
    margin-top: 13px
}
.bt:hover{
    background-color: #5614b0;
}
.ha{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    margin-left: 1360px;
    margin-top: -0px;
    border-radius: 5px;
}
@media (width: 400px) {
    .div1{
        width: 300px;
        height: 500px;
        margin-left: 50px;
    }
    .ft1{
        width: 200px;
        height: 200px;
    }
    .h{
        margin-top: 50px;
    }
    .ha{
        margin-left: 300px;
    }
}